*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Raleway:wght@100;400&display=swap');


/* Tipografias:
font-family: 'Comfortaa', cursive;
font-family: 'Raleway', sans-serif;
*/

/* Colores:
#818181 gris oscuro
#440401 bordo
#b90b00 rojo
#856664 rosa gris
#D9D9D9 gris clarito
*/

body{
    background-color: black;
}

header{
    width: 100%;
    background-image: url(../assets/img/micro-bandana-crop.jpg);
    /* background-color: #818181; */
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.logo{
    height: 110px;
    width: auto;
    margin-left: 20px;
}

.logo img{
    height: 100%;
    width: auto;
    
}

.navbar-li a{
    color: #D9D9D9;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #440401;
    border: solid 3px black;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 3px 3px 1px #856664;
}
.navbar-li a:hover{
    background-color: #b90b00;
}

.navbar-li{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 70px;
    
}

.buscador{
    margin-right: 40px;
}

#search{
    height: 40px;
    border-radius: 20px;
    border: solid 3px black;
    text-align: right;
    box-shadow: 3px 3px 1px #856664;
}

::placeholder{
    padding-right: 5px;
}

/* BODY */
/* .novedades h1{
    margin-bottom: 25px;
} */

h1{
    color: #856664;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px ;
    height: 100%;
    position: relative;
    margin: 0px 50px;
    margin-bottom: 50px;
    /* padding: 0; */
    font-family: 'Raleway', sans-serif;
}
.read-more{
    /* background-color: #440401; */
    background-color: #b90b00;
    color: #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    padding: 2px;
    box-shadow: 3px 3px 1px #856664;
}
.read-more:hover{
    background-color: #856664;
}
.artista{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
.album{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0px 5px;
}
.buy{
    /* background-color: #440401; */
    background-color: #b90b00;
    color: #D9D9D9;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    padding: 2px;
    box-shadow: 3px 3px 1px #856664;
}
.buy:hover{
    background-color: #856664;
}
/* h2{
    font-size: 20px;
} */


.card img{
    width: 90%;
    height: auto;
    /* padding: 5px; */
    /* margin: 15px; */
    border-radius: 20px;
    box-shadow: 1px 1px 1px #856664;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:#D9D9D9;
    border-radius: 20px;
    height: fit-content;
    width: auto;
    /* margin: 40px; */
    /* margin: 0px 40px 40px 40px; */
    
    box-shadow: 3px 3px 1px #856664;
}
.cards-videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px ;
    height: 100%;
    position: relative;
    margin: 0px 50px;
    margin-bottom: 50px;
    /* padding: 0; */
    font-family: 'Raleway', sans-serif;
}
.card-video{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:#D9D9D9;
    border-radius: 20px;
    height: fit-content;
    width: auto;
    box-shadow: 3px 3px 1px #856664;
}
.card-video iframe{
    border-radius: 20px;
    box-shadow: 1px 1px 1px #856664;
}
.titulo-articulo{
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 0px 5px;
}
/* .titulo-articulo a{
    text-transform: capitalize;
} */
.parrafo-articulo{
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0px 5px;
}
.artista-video{
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0px 5px;
}
.link{
    text-decoration: none;
    color: black;
}
.us-parrafo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    margin: 0px 130px;
    margin-bottom: 50px;
}
.us-parrafo p{
    color: #856664;
    text-align: center;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    background-color:#D9D9D9;
    border-radius: 20px;
    width: auto;
    box-shadow: 3px 3px 1px #856664;
}


.carousel-inner h5{
    font-size: 34px;
    color: #b90b00;
    text-transform: uppercase;
    /* text-shadow: 1px 1px 1px #856664, 0 0 0.1em #D9D9D9, 0 0 0.1em black; */
    text-shadow: 1px 1px 1px #856664;
}
.carousel-inner p{
    font-weight: bold;
    color: #D9D9D9;
    text-shadow: 1px 1px 1px #440401;
    font-size: 24px;
    text-transform: capitalize;
}

#carouselExampleCaptions{
    margin: 20px 20%;
    margin-bottom: 40px;
    /* width: 700px;
    height: 500px; */
}
.carousel-item img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.h1-bt{
    font-weight: bold;
}
.navbar-bt{
    margin-top: 15px;
}

.footer-bt h3{
    font-size: 16px;
    font-weight: bold;
}








/* FOOTER */

footer{
    width: 100%;
    height: auto;
    background-image: url(../assets/img/casete-3.jpg);
    background-position: bottom;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    row-gap: 5px;
    font-family: 'Raleway', sans-serif;
    grid-template-areas: 
    "contacto newsletter redes"
    "contacto derechos redes"
    ;
}
/* footer h3{
    font-size: 14px;
    text-align: center;
    padding: 2px;
} */
.contacto{
    grid-area: contacto;
    background-color: #D9D9D9;
    height: 100px;
    font-size: 14px;
    text-align: center;
    margin: 20px;
    margin-left: 40px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 3px 3px 1px #856664;
}

.derechos{
    grid-area: derechos;
}

.contacto p{
    padding: 5px;
}

.mail{
    display: inline-flex;
    align-items: center;
}

.mail img{
    height: 20px;
    width: 20px;
}

.telefono-wasap{
    display: inline-flex;
    align-items: center;
}

.telefono-wasap img{
    height: 20px;
    width: 20px;
    padding: 2px;
}
.ubicacion{
    font-size: 14px;
}
.derecho{
    /* background-color: #D9D9D9; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
.newsletter{
    opacity: 80%;
    grid-area: newsletter;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    /* align-self: flex-end; */
    margin: 20px;
    height: 100px;
    width: auto;
    background-color: #D9D9D9;
    border-radius: 20px;
    box-shadow: 3px 3px 1px #856664;
}
.subscribe{
    padding: 10px;
}
.subscribe input{
    border: none;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #856664;
}

.subscribe button{
    color: #D9D9D9;
    background-color: #440401;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 1px #856664;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.subscribe button:hover{
    background-color: #b90b00;
}

.redes{
    grid-area:redes;
    background-color: #D9D9D9;
    margin: 20px;
    margin-right: 40px;
    height: 100px;
    width: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 1px #856664;
}

.redes-titulo{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.redes-iconos{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.derecho h3{
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #020202;
    /* text-shadow: 3px 3px 3px 3px #856664; */
    text-shadow: 1px 1px 2px #856664, 0 0 1em #D9D9D9, 0 0 0.2em black;
}
.contacto-bt{
    grid-area: contacto;
    background-color: #D9D9D9;
    height: 100px;
    font-size: 14px;
    text-align: center;
    margin: 20px;
    margin-left: 40px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 3px 3px 1px #856664;
}
.mail-bt{
    display: inline-flex;
    align-items: center;
}
.mail-bt img{
    height: 20px;
    width: 20px;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.mail-bt p{
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.telefono-wasap-bt{
    display: inline-flex;
    justify-content: center;
    margin: 4px 0;
}
.telefono-wasap-bt p{
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.telefono-wasap-bt img{
    height: 20px;
    width: 20px;
    padding: 2px;
}
.ubicacion{
    margin-top: 4px;
}
.newsletter-titulo-bt h2{
    font-size: 24px;
    font-weight: bold;
}
.subscribe-bt{
    padding: 5px;

}
.subscribe-bt input{
    font-size: 14px;
    border: none;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #856664;
}

.subscribe-bt button{
    font-size: 14px;
    color: #D9D9D9;
    background-color: #440401;
    padding: 2px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 1px #856664;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.subscribe-bt button:hover{
    background-color: #b90b00;
}
.redes-titulo-bt{
    padding: 5px;
    padding-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.redes-titulo-bt h3{
    font-size: 18px;
}
/* div p{
    color: #000000;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
}

section h3{
    color: #000000;
    font-family: 'Comfortaa', cursive;
    font-style: italic;
} * */