body{
    background-color: black;
}
header{
    width: 100%;
    background-image: url(../assets/img/micro-bandana-crop.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.logo{
    height: 110px;
    width: auto;
    a{
        img{
            height: 100%;
            width: auto;
        }
    }
}
