@mixin cards($colum, $row, $gridgap){
    display: grid;
    grid-template-columns: $colum;
    grid-template-rows: $row;
    grid-gap: $gridgap;
}

@mixin flex($dir, $justify){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
}
