header{
    width: 100%;
    background-image: url(../assets/img/micro-bandana-crop.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    div{
        display: flex;
        justify-content: center;
        height: 110px;
        width: auto;
        a{
            img{
                height: 100%;
                width: auto;
            }
        }
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 70px;
            li{
                a{
                    color: $gris-claro;
                    font-size: 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    background-color: $bordo;
                    border: solid 3px black;
                    border-radius: 20px;
                    padding: 5px 10px;
                    box-shadow: 3px 3px 1px $gris-rosa;
                    &:hover{
                        background-color: $rojo;
                    }
                }
            }
        }
    }
}
.buscador{
    // font-size: 40px;
    align-items: center;
    input{
        height: 40px;
        width: 70px;
        padding: 4px;
        &::placeholder{
            font-size: 16px;
            text-align: center;
        }
    }
}
#search{
    opacity: 80%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 1px $gris-rosa;
}
