header{
        width: 100%;
        background-image: url(../assets/img/micro-bandana-crop.jpg);
        background-position: bottom;
        background-size: cover;
        @include flex(none, space-evenly);
        // display: flex;
        // justify-content: space-evenly;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        div{
                @include flex(none, center);
                // display: flex;
                // justify-content: center;
                height: 110px;
                width: auto;
                a{
                img{
                        height: 100%;
                        width: auto;
                }
                }
        }
        nav{
                ul{
                list-style: none;
                @include flex(row, none);
                // display: flex;
                // flex-direction: row;
                gap: 70px;
                li{
                        &:hover{
                        transform: scale(1.2);
                        }
                        a{
                        color: $gris-claro;
                        font-size: 20px;
                        text-decoration: none;
                        text-transform: uppercase;
                        background-color: $bordo;
                        border: solid 3px black;
                        border-radius: 20px;
                        padding: 2px 8px;
                        box-shadow: 3px 3px 1px $gris-rosa;
                        &:hover{
                                background-color: $rojo;
                        }
                        }
                }
                }
        }
        }
        .buscador{
        align-items: center;
        input{
                background-image: url(/assets/img/search.png);
                background-repeat: no-repeat;
                background-position: left;
                height: 40px;
                width: 80px;
                padding: 4px 2px 4px 6px;
                // padding-left: 20px;
                &:hover{
                transform: scale(1.2);
                }
                &::placeholder{
                font-size: 16px;
                text-align: right;
                padding: 10px 0;
                }
        }
        }
        #search{
        opacity: 80%;
        border-radius: 20px;
        text-align: center;
        box-shadow: 3px 3px 1px $gris-rosa;
        }
        .navbar-li {
                -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        }
