main{
    min-height: 70vh;
    section{
        transition: 400ms;
        .us-parrafo{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: max-content;
            margin: 0px 130px;
            margin-bottom: 50px;
            p{
                color: $gris-rosa;
                text-align: center;
                font-size: 16px;
                font-family: 'Raleway', sans-serif;
                padding: 40px;
                background-color: $gris-claro;
                border-radius: 20px;
                width: auto;
                box-shadow: 3px 3px 1px $gris-rosa;
                word-spacing: 2px;
                span{
                    font-weight: bold;
                }
            }
        }
    }
}
.us-parrafo {
	-webkit-animation: us-parrafo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: us-parrafo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes us-parrafo {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes sus-parrafo {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  