main{
    .cards-shop{
        @include cards(repeat(4, 1fr), repeat(2, 1fr), 30px);
        height: 100%;
        position: relative;
        margin: 0px 50px;
        margin-bottom: 50px;
        font-family: 'Raleway', sans-serif;
        transition: 400ms;
        .card-shop{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color:$gris-claro;
            border-radius: 20px;
            height: fit-content;
            width: auto;
            img{
                width: 90%;
                height: auto;
                border-radius: 20px;
                box-shadow: 1px 1px 1px $gris-rosa;
                &:hover{
                    transform: rotate(-3deg);
                }
            }
            div{
                .artista{
                    font-size: 20px;
                    text-align: center;
                    margin-top: 5px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                .album{
                    text-align: center;
                    font-size: 16px;
                    margin-bottom: 10px;
                    padding: 0px 5px;
                }
                .buy{
                    background-color: $rojo;
                    color: $gris-claro;
                    font-family: 'Raleway', sans-serif;
                    font-size: 16px;
                    text-transform: capitalize;
                    border-radius: 10px;
                    display: block;
                    margin: auto;
                    margin-bottom: 5px;
                    padding: 2px;
                    box-shadow: 3px 3px 1px $gris-rosa;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}