.header-index{
  justify-content: center;
  div{
    a{
    img{
      display: none;
    }
    }
  }
  .buscador{
    display: none;
  }
}
.main-index{
    .titulo-principal{
        .welcome{
            font-size: 50px;
        }
    }
    .imagen-principal{
      @include flex(none, center);
      // display: flex;
      align-items: center;
      // justify-content: center;
        img{
          padding: 0, 50px;
          height: 100vh;
          width: auto;
        }
    }
}
.titulo-principal{
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.imagen-principal {
	-webkit-animation: flicker-5 8s linear infinite both;
	        animation: flicker-5 8s linear infinite both;
}
