@media(max-width:425px){
    header{
        width: 100vh;
    }
    main{
        width: 100vh;
        .cards{
            gap: 22px;
            margin-bottom: 30px;
            article{
                div{
                    h2{
                        font-size: 18px;
                    }
                    .read-more{
                        font-size: 20px;
                    }
                    .buy{
                        font-size: 20px;
                    }
                }
            }
        }
        section{
            .us-parrafo{
                margin: 0px 30px;
                margin-bottom: 50px;
                // font-size: 12px;
            }
        }
    }
    footer{
        width: 100vh;
    }
}