@media(max-width:425px){
    header{
        .logo{
            display: none;
        }
        // width: 100vh;
        nav{
            ul{
                padding-top: 20px;
                li{
                    a{
                        font-size: 30px;
                    }
                }
            }
        }
    }
    main{
        // width: 100vh;
        .cards{
            gap: 30px;
            margin: 0px 30px;
            margin-bottom: 30px;
        }
        .cards-shop{
            gap: 30px;
            margin: 0px 30px;
            margin-bottom: 30px;
        }
        section{
            .us-parrafo{
                margin: 0px 30px;
                margin-bottom: 50px;
            }
        }
        .cards-videos{
            margin: 0px 30px;
            margin-bottom: 30px;
        }
    }
}