@media(max-width:620px){
    header{
        width: 100vh;
    }
    main{
        width: 100vh;
        .cards{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            gap: 22px;
            margin: 0px 60px;
            margin-bottom: 30px;
            article{
                div{
                    h2{
                        font-size: 30px;
                    }
                    .read-more{
                        font-size: 30px;
                    }
                    .buy{
                        font-size: 30px;
                    }
                }
            }
        }
        section{
            .us-parrafo{
                p{
                    font-size: 24px;
                }
            }
        }
    }
    .main-index{
        .imagen-principal{
            img{
                width: 60vh;
                height: auto;
            }
        }
    }
    footer{
        width: 100vh;
        .newsletter{
            div{
                h3{
                    margin-top: 5px;
                    // font-size: 20px;
                    // margin-bottom: 0px;
                }
            }
            .subscribe{
                input{
                    font-size: 14px;
                    height: 40px;
                    width: 120px;
                }
                button{
                    font-size: 20px;
                    height: 50px;
                    width: 100px;
                }
            }
        }
        .redes{
            div{
                h3{
                    margin-top: 5px;
                }
            }
        }
    }
}