@media(max-width:768px){
    header{
        background-image: url(../assets/img/micro-bandana.jpg);
        height: auto;
        flex-direction: column;
        gap: 20px;
        .logo{
            height: 100px;
            margin: 0;
        }
        .logo-bt{
            height: 100px;
            margin: 0;
        }
        nav{
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                padding-bottom: 20px;
                li{
                    a{
                        font-size: 30px;
                    }
                }
            }
        }
        .buscador{
            display: none;
        }
    }
    .header-index{
        .logo{
            display: none;
        }
        nav{
            margin-top: 20px;
        }
    }
    main{
        .cards{
            @include cards(1fr 1fr, repeat(4, 1fr), none);
            // grid-template-columns: 1fr 1fr;
            // grid-template-rows: repeat(4, 1fr);
            gap: 22px;
            margin: 0px 10px;
            margin-bottom: 30px;
        }
        .cards-videos{
            @include cards(1fr, repeat(4, 1fr), none);
            // grid-template-columns: 1fr;
            // grid-template-rows: repeat(4, 1fr);
            gap: 22px;
            margin: 0px 40px;
            margin-bottom: 30px;
        }
        .cards-shop{
            @include cards(1fr 1fr, repeat(3, 1fr), none);
            gap: 22px;
            margin: 0px 10px;
            margin-bottom: 30px;
        }
        section{
            margin-bottom: 30px;
            .us-parrafo{
                margin: 0px 30px;
            }
        }
    }
    footer{
        // background-image: url(../assets/img/casete-crop.jpg);
        background-image: url(../assets/img/casete-crop.jpg);
        background-size: cover;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        grid-template-areas: 
            "redes"
            "newsletter"
            "contacto"
            "derechos";
        .contacto{
            height: 150px;
            width: 70%;
            margin: 10px 50px;
            div{
                a{
                    img{
                        height: 20px;
                        width: auto;
                    }
                }
                p{
                    font-size: 16px;
                }
            }
            h3{
                font-size: 18px;
            }
        }
        .newsletter{
            height: 150px;
            width: 70%;
            margin: 10px 50px;
            .newsletter-titulo{
                h3{
                    font-size: 20px;
                }
            }
            .subscribe{
                input{
                    text-align: center;
                    font-size: 16px;
                    height: 40px;
                    width: 200px;
                }
                button{
                    font-size: 20px;
                    height: 50px;
                    width: 200px;
                }
            }
        }
        .redes{
            height: 150px;
            width: 70%;
            margin: 10px 50px;
            .redes-titulo{
                h3{
                    font-size: 20px;
                }
            }
            .redes-iconos{
                a{
                    img{
                        height: 40px;
                    }
                }
            }
        }
        .derechos{
            div{
                h3{
                    font-size: 22px;
                }
            }
        }
    }
}