@media(max-width:620px){
    header{
        // width: 100vh;
        .logo{
            width: 100%;
        }
    }
    main{
        // width: 100vh;
        .cards{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            gap: 30px;
            margin: 0px 60px;
            margin-bottom: 30px;
            article{
                div{
                    h2{
                        font-size: 26px;
                    }
                    .read-more{
                        font-size: 26px;
                    }
                    .buy{
                        font-size: 30px;
                    }
                }
            }
        }
        .cards-shop{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            gap: 30px;
            margin: 0px 60px;
            margin-bottom: 30px;
            .card-shop{
                div{
                    .artista{
                        font-size: 26px;
                    }
                    .album{
                        font-size: 26px;
                    }
                    .buy{
                        font-size: 30px;
                    }
                }
            }
        }
        section{
            .us-parrafo{
                p{
                    font-size: 24px;
                }
            }
        }
        .cards-videos{
            margin: 0px 60px;
            margin-bottom: 30px;
            article{
                div{
                    h2{
                        font-size: 26px;
                    }
                    p{
                        font-size: 26px;
                    }
                }
            }
        }
    }
    footer{
        // width: 100vh;
        .newsletter{
            div{
                h3{
                    margin-top: 5px;
                    // font-size: 20px;
                    // margin-bottom: 0px;
                }
            }
            .subscribe{
                input{
                    font-size: 14px;
                    height: 40px;
                    width: 120px;
                }
                button{
                    font-size: 20px;
                    height: 50px;
                    width: 100px;
                }
            }
        }
        .redes{
            div{
                h3{
                    margin-top: 5px;
                }
            }
        }
    }
}