@media(max-width:425px){
    header{
        .logo{
            display: none;
        }
        width: 100vh;
        nav{
            ul{
                padding-top: 20px;
            }
        }
    }
    main{
        width: 100vh;
        .cards{
            gap: 22px;
            margin-bottom: 30px;
            // article{
            //     div{
            //         h2{
            //             font-size: 24px;
            //         }
            //         .read-more{
            //             font-size: 24px;
            //         }
            //         .buy{
            //             font-size: 24px;
            //         }
            //     }
            // }
        }
        section{
            .us-parrafo{
                margin: 0px 30px;
                margin-bottom: 50px;
                // font-size: 12px;
            }
        }
    }
    footer{
        width: 100vh;
    }
}