.read-more{
    background-color: $rojo;
    color: $gris-claro;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    padding: 2px;
    box-shadow: 3px 3px 1px $gris-rosa;
    &:hover{
        transform: scale(1.1);
    }
}